/* Estilos del main de index celulares */

/* Estilos del parrafo principal */

.presentacionIndex {
    margin-top: 160px;
    text-align: center;
    h2 {
    margin-bottom: 16px;
    }
    div {
    @include bloques;
    margin-bottom: 110px;
        img {
        border: 2px solid $color-titulos-img;
        box-shadow: 1px 0.4px 6px grey;
        @include medidas(270px, 320px);
        margin-bottom: 50px;
        }
    }
}

/* Estilos de imagenes presentacion */

.imagenes-presentacion {
    @include bloques;
    margin-top: 80px;
    text-align: center;
    div {
    margin-bottom: 40px;
        img {
        border: 1.4px solid $color-boxParrafo;
        color: whitesmoke;
        box-shadow: 1px 0.4px 3px orange;
        }
        h4 {
        padding: 12px;
        font-family: 'Orbitron', sans-serif;
        font-size: 1rem;
        color: $color-titulos-img;
        text-decoration: underline;
        }
    }
}

.parrafoIndex {
    font-size: 1.2rem;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 1px 20px;
}

.parrafo-unoIndex {
    margin-bottom: 42px;
    width: 460px;
    margin-left: 0.7rem;
    border: 2px solid $border-botom;
    border-radius: 34px;
    padding: 16px;
    box-shadow: 1px 1px 7px rgb(109, 52, 52);
}


/* Estilos de cada una de las consolas de index */

/* Play Station index */

.play-index {
    margin-top: 100px;
    text-align: center;
    p {
    margin-top: 40px;
    width: 460px;
    margin-left: 0.7rem;
    border: 2px solid #e89d10;
    border-radius: 28px;
    box-shadow: 1px 1px 7px $color-shadow;
    padding: 18px;
    }
}

/* Estilos de las imagenes de play station general de index */

.playImagenes-index {
    display: block;
    align-content: center;
    text-align: center;
    margin-top: 70px;
    border-bottom: 1px solid $border-botom;
    padding-bottom: 100px;
    img {
    border: 2px solid $color-titulos-img;
    box-shadow: 1px 1px 3px whitesmoke;
    margin-bottom: 40px;
    }
}

/* Estilos de idex.html para tablets */

@media screen and (min-width: 624px) {
    
    /* Estilos del header */
    header {
        justify-content: space-around;
    }

    .presentacionIndex {
        div {
            img {
                margin-left: 26px;
            }
        }
    }

    .parrafo-unoIndex {
        margin-left: 108px;
    }

    .parrafo-dosIndex {
        padding: 1px 40px;
    }

    .imagenes-presentacion img:hover {
            box-shadow: 1px 0.6px 5px red;
            transform: scale(1.02);
            transition-duration: 0.8s;
    }

    .border-img {
        border-bottom: 1px solid orangered;
        padding-bottom: 50px;
    }

    .play-index p {
        margin-left: 108px;
    }

    .playImagenes-index img {
        margin: 16px 20px;
    }
}

/* Estilos de idex.html para computadoras */

@media screen and (min-width: 800px) {
    
    /* Estilos del main de index para computadoras */

    header {
        height: 90px;
        justify-content: space-around;
    }

    header h1 {
        margin-top: 3px;
    }

    /* imagenes presentacion */

    .imagenes-presentacion {
        margin-top: 100px;
        padding-bottom: 60px;
        @include flex;
        text-align: center;
        gap: 32px;
        border-bottom: 0.4px solid $border-botom;
        div{
            h4 {
            text-align: center;
            padding: 12px;
            font-family: 'Orbitron', sans-serif;
            font-size: 1rem;
            color: $color-titulos-img;
            text-decoration: underline;
            }
            img {
                border: 1.4px solid #e89d10;
                color: $color-titulos-img;
                box-shadow: 1px 0.4px 3px orange;
            }
        }
        img:hover{
        box-shadow: 1px 0.6px 5px red;
        transform: scale(1.02);
        transition-duration: 0.8s;
        }
    }

    .botom-img {
        border: none;
    }

    /* Estilos del parrafo principal */

    .presentacionIndex {
        margin-top: 180px;
        text-align: center;
        h2 {
        margin-bottom: 16px;
        }
        div {
        @include flex;
        gap: 200px;
        margin-bottom: 150px;
            img {
            border: 2px solid whitesmoke;
            box-shadow: 1px 0.4px 6px grey;
            @include medidas(300px, 350px);
            margin-bottom: 0;
            }
        }
    }

    .parrafoIndex {
        font-size: x-large;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .parrafo-unoIndex {
        margin-bottom: 42px;
        width: 750px;
        margin-left: 260px;
        border: 2px solid $border-botom;
        border-radius: 34px;
        padding: 16px;
        box-shadow: 1px 1px 7px $color-shadow;
    }


   /* Estilos de cada una de las consolas de index */

    /* Play Station 2 index */

    .play-index {
        margin-top: 100px;
        text-align: center;
        p {
        margin-top: 40px;
        width: 700px;
        margin-left: 288px;
        border: 2px solid $color-boxParrafo;
        border-radius: 28px;
        box-shadow: 1px 1px 7px $color-shadow;
        padding: 15px;
        }
    }

    /* Estilos de las imagenes de play station general de index */

    .playImagenes-index {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-top: 70px;
        border-bottom: 1px solid $border-botom;
        padding-bottom: 100px;
        img {
        border: 2px solid $color-titulos-img;
        box-shadow: 1px 1px 3px whitesmoke;
        margin-bottom: 0;
        }
        img:hover {
        box-shadow: 1px 0.4px 7px rgb(255, 238, 0);
        transform: scale(1);
        }
    }

    .modifyImage-uno {
        margin-top: 80px;
    }

    .modifyImage-dos {
        margin-top: 80px;
    }
}



