/* Estilo de novedades.html para celulares */

.botom-img {
    padding-bottom: 50px;
    border-bottom: 1px solid $border-botom;
}

/* Estilo del main de novedades */

/* Introduccion */

.tituloNovedades {
    margin-top: 140px;
    h2 {
    text-align: center;
    font-size: 30px;
    padding: 1px 20px;
    }
}

.parrafoNovedades-uno {
    margin-top: 140px;
    font-size: 1.2rem;
    text-align: center;
}

.parrafoNovedades-dos {
    text-align: center;
    margin-top: 70px;
    padding: 1px 16px;
}

/* Estilos de las novedades de cada Consola (general en novedades) */

.descripcionPs {
    margin-top: 100px;
    padding: 10px;
    h3 {
    text-align: center;
    }
    p {
    margin-top: 28px;
    margin-bottom: 60px;
    text-align: center;
    padding: 1px 14px;
    }
}

/* Estilos de cada descripcion de videojuegos */

.descripcion-videojuego {
    margin-top: 70px;
    padding: 14px;
    h4 {
    margin-bottom: 30px;
    color: $color-subtitulos;
    }
    p {
    padding-left: 20px;
    }
    div {
    display: block;
    text-align: center;
    margin-top: 50px;
    }
    img {
    border: 2px solid whitesmoke;
    box-shadow: 1px 0.4px 6px grey;
    margin-bottom: 40px;
    }
}

.p-dosNovedades {
    @include margin(50px, 50px);
    padding-left: 20px
}

.iframe-ps {
    @include bloques;
    iframe {
    width: 460px;
    }
}

.iframe-botom {
    @include bloques;
    border-bottom: 1px solid $border-botom;
    padding-bottom: 70px;
    iframe {
    width: 460px;
    }
}

/* Estilos de Novedades.html para computadoras */

@media screen and (min-width: 800px) {

    .botom-img {
        border: none;
    }

    /* Estilo del main de novedades */

    /* Introduccion */

    .tituloNovedades {
        margin-top: 150px;
        text-align: center;
        h2 {
        margin-top: 70px;
        font-size: 30px;
        }
    }

    .parrafoNovedades-uno {
        margin-top: 120px;
        font-size: x-large;
    }

    .parrafoNovedades-dos {
        margin-top: 70px;
    }

    /* Estilos de las novedades de cada Consola (general en novedades) */

    .descripcionPs {
        margin-top: 100px;
        padding: 10px;
        h3 {
        text-align: center;
        }
        p {
        margin-top: 28px;
        margin-bottom: 60px;
        text-align: center;
        padding: 1px 20px;
        }
    }

    /* Estilos de cada descripcion de videojuegos */

    .descripcion-videojuego {
        margin-top: 70px;
        padding: 14px;
        h4 {
        margin-bottom: 30px;
        color: $color-subtitulos;
        }
        div {
        @include flex;
        margin-top: 10px;
        }
        img {
        border: 2px solid whitesmoke;
        box-shadow: 1px 0.4px 6px grey;
        margin: 50px 90px;
        }
        p {
        padding: 0px 20px;
        }
    }

    .gif-descripcion:hover {
        transform: scale(1.01);
        border: 2px solid black;
        box-shadow: 1.2px 0.6px 6px black;
        transition: 0.3s;
    }

    .p-dosNovedades {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .iframe-ps {
        @include flex;
        iframe {
        width: 560px;
        }
    }

    .iframe-botom {
        @include flex;
        border-bottom: 1px solid $border-botom;
        padding-bottom: 70px;
        iframe {
        width: 560px;
        }
    }
}
