/* Estilo de novedades.html para celulares */

.botom-img {
    padding-bottom: 50px;
    border-bottom: 1px solid orangered;
}

/* Estilo del main de novedades */

/* Introduccion */

.tituloNovedades {
    margin-top: 140px;
    h2 {
        text-align: center;
        font-size: 30px;
        padding: 1px 20px;
    }
}

.parrafoNovedades-uno {
    margin-top: 140px;
    font-size: 1.2rem;
    text-align: center;
}

.parrafoNovedades-dos {
    text-align: center;
    margin-top: 70px;
    padding: 1px 16px;
}

/* Estilos de las novedades de cada Consola (general en novedades) */

.descripcionPs {
    margin-top: 100px;
    padding: 10px;
    h3 {
        text-align: center;
    }
    p {
        margin-top: 28px;
        margin-bottom: 60px;
        text-align: center;
    }
}

/* Estilos de cada descripcion de videojuegos */

.descripcion-videojuego {
    margin-top: 70px;
    padding: 14px;
    h4 {
        margin-bottom: 30px;
        color: rgb(184, 0, 0);
    }
    div {
        display: block;
        text-align: center;
        margin-top: 50px;
    }
    img {
        border: 2px solid $color-bordeImg;
        box-shadow: 1px 0.4px 6px grey;
        margin-bottom: 40px;
    }
}

.p-dosNovedades {
    margin-top: 50px;
    margin-bottom: 50px;
}

.iframe-ps {
    display: block;
    align-content: center;
    iframe {
        width: 460px;
    }
}

.iframe-botom {
    display: block;
    align-content: center;
    border-bottom: 1px solid orangered;
    padding-bottom: 70px;
    iframe {
        width: 460px;
    }
}

/* Estilos de Novedades.html para computadoras */

@media screen and (min-width: 800px) {

    .imagenes-presentacion {
        @include img-presentacion;
        div {
            h4 {
                @include img-presentacion-h4;
            }
        }
    }

    .botom-img {
        border: none;
    }

    /* Estilo del main de novedades */

    /* Introduccion */

    .tituloNovedades {
        margin-top: 150px;
        h2 {
            margin-top: 70px;
            text-align: center;
            font-size: 30px;
        }
    }

    .parrafoNovedades-uno {
        margin-top: 150px;
        font-size: x-large;
        text-align: center;
    }

    .parrafoNovedades-dos {
        text-align: center;
        margin-top: 70px;
    }

    /* Estilos de las novedades de cada Consola (general en novedades) */

    .descripcionPs {
        margin-top: 100px;
        padding: 10px;
        h3 {
            text-align: center;
        }
        p {
            margin-top: 28px;
            margin-bottom: 60px;
            text-align: center;
        }
    }

    /* Estilos de cada descripcion de videojuegos */

    .descripcion-videojuego {
        margin-top: 70px;
        padding: 14px;
        h4 {
            margin-bottom: 30px;
            color: rgb(184, 0, 0);
        }
        div {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        img {
            border: 2px solid $color-bordeImg;
            box-shadow: 1px 0.4px 6px grey;
            margin: 50px 90px;
        }
    }

    .p-dosNovedades {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .iframe-ps {
        display: flex;
        justify-content: center;
        iframe {
            width: 560px;
        }
    }

    .iframe-botom {
        display: flex;
        align-items: center;
        border-bottom: 1px solid orangered;
        padding-bottom: 70px;
    }
}