/* Estilos de preguntas.html para pantallas de celular */

/*Estilos del main */ 

.mainPreg {
    margin-top: 50px;
    text-align: center;
    padding: 14px;
    img {
    margin-top: 20px;
    border: 1.4px solid $color-boxParrafo;
    box-shadow: 1px 0.6px 5px $color-shadow;
    }
}

/* Estilos de section-uno */

.section-unoPreg {
    margin-top: 20px;
    text-align: center;
    img {
    border: 1px solid $color-titulos-img;
    box-shadow: 1px 0.5px 5px whitesmoke;
    }
    h3 {
    margin-top: 50px;
    padding-left: 14px;
    padding-right: 14px;
    color: $color-titulos-img;
    }
    p {
    padding: 16px;
    }
}

.forms-preguntas {
    text-align: center;
    margin: 10px;
    fieldset {
    border: 1.4px dashed $color-boxParrafo;
    padding: 10px;
    text-align: left;
    }
}

.grids-preguntas {
    @extend %estiloBorder;
}

/* Estilos de preguntas.html para computadoras */

@media screen and (min-width: 800px) {

    /*Estilo del grid de preguntas */

    .grids-preguntas {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas: 
            "main titulo"
            "main titulo"
            "main titulo";
    
        gap: 10px;
        border-bottom: 0.6px solid $border-botom;
    }

    /* Estilo del main de preguntas */

    .mainPreg {
        grid-area: main;
        text-align: left;
        margin-top: 50px;
        h2 {
        color: $color-titulos-img;
        text-decoration: underline;
        padding-left: 10px;
        }
        p {
        margin-top: 20px;
        margin-left: 10px;
        }
    }

    .hover-a:hover {
        transform: scale(1.04);
        color: gray;
        transition: 0.5s;
    }

    .img-grid {
        @include medidas(280px, 350px);
        border: 1px solid $color-boxParrafo;
        box-shadow: 1px 0.4px 4px orange;
        margin-top: 30px;
        margin-left: 10px;
    }

    /* Estilo de section-uno dentro de preguntas */

    .forms-preguntas {
        padding-left: 8px;
        text-align: center;
    }

    .section-unoPreg {
        grid-area: titulo;
        text-align: center;
        margin-top: 50px;
        padding: 12px;
        img {
        border: 1px solid $color-titulos-img;
        box-shadow: 1px 0.4px 5px grey;
        margin-top: 12px;
        }
        h3 {
        color: $color-titulos-img;
        text-decoration: none;
        margin-top: 40px;
        }
        div {
        text-align: left;
        margin-left: 10px;
        }
        fieldset {
        border: 2px dashed $color-boxParrafo;
        width: 620px;
        }
    }

    .p-sectionPreg {
        margin-top: 0;
    }

    .input-end:hover {
        background-color: $color-boxParrafo;
        box-shadow: 1px 0.6px 5px;
        transition-duration: 0.4s;
    }
}

