/* Estilos de redes.html para celulares */

/* Main */

.main-redes {
    div {
    text-align: center;
    margin-top: 70px;
    }
    h3 {
    color: whitesmoke;
    margin-bottom: 30px;
    }
    p {
    padding: 1px 10px;
    }
}

.logos {
    @include flex;
    gap: 100px;
    margin-top: 50px;
    img {
    width: 80px;
    height: 106px;
    animation-name: logos;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    }
}
@keyframes logos {
    25% {
        transform: scale(1.1);
    }
}

.parrafo-redes {
    margin-top: 50px;
}

/* Estilos de la section-giffs */

.gifs { 
    border-bottom: 1px solid orangered;
    div {
    margin-top: 80px;
    gap: 10px;
    text-align: center;
    }
    img {
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 4px grey;
    margin-bottom: 80px;
    width: 300px;
    height: 350px;
    }
}

/* Estilos de Redes.html para tablets */

@media screen and (min-width: 624px) {
     
    .main-redes{ 
        p {
            padding: 10px 50px;
        }
     }
}

/* Estilos de Redes.html para computadoras */

@media screen and (min-width: 800px) {

    /* Estilos de grid */

    .grid-redes {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 10px;

        grid-template-areas: 
        "mainUno gifs"
        "mainUno gifs"
        "mainUno gifs";

        margin-top: 90px;
        border-bottom: 1px solid orangered;
        padding-bottom: 70px;
    }

    /* main */ 

    .main-redes {
        grid-area: mainUno;
        p {
        padding: 0px 20px;
        }
        div {
        margin-top: 0;
        }
    }

    .logos {
        img {
        margin-top: 60px;
        }
    }

    .parrafo-redes {
        margin-top: 90px;
    }

    /* Section-gifs */

    .gifs {
        grid-area: gifs;
        border-left: 1px solid #e89d10;
        border-bottom: none;
        div {
        margin-top: 90px;
        }
    }
}