/* Aqui se colocaran los estilos de Tus ideas.html para pantallas de celular*/

/* Main */

.main-ideas {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
    h2 {
    font-size: 26px;
    margin-bottom: 30px;
    }
}

/* Estilos de las sections */

.parrafo-ideasUno {
    text-align: center;
    border: 1.4px solid orangered;
    box-shadow: 1px 0.4px 6px $color-shadow;
    border-radius: 16px;
    width: 450px;
    height: 130px;
    margin-left: 15px;
    padding: 10px;
    padding-top: 15px;
    img {
        width: 100px;
        height: 120px;
        margin-top: 30px;
    }
}

/* Estilos de la section -forms */

.forms-ideas {
    text-align: center;
    margin-top: 170px;
    form {
        text-align: left;
        margin: 10px;
    }
    fieldset {
        border: 1.4px dashed $color-bordeParrafo;
        padding: 10px;
    }
}

.grid-ideas {
    border-bottom: 0.6px solid orangered;
}

.input-end {
    margin-bottom: 20px;
}

/* Estilos de tus ideas.html para computadoras */

@media screen and (min-width: 800px) {
    
    /*  Estilos del header */

    .header-tusIdeas {
        height: 90px;
        justify-content: space-around;
        h1 {
            padding-top: 22px;
        }
    }
    
    /* Estilos de grid */

    .grid-ideas {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 10px;

        grid-template-areas: 
        "main parrafo parrafo"
        "main parrafo parrafo"
        "main forms forms";
    }

    /* Estilos del main */

    .main-ideas {
        grid-area: main;
        margin-top: 70px;
        border-right: 1px solid $color-bordeParrafo;
        img {
            margin-top: 20px;
        }
    }

    /* Estilos de la section 1 */

    .parrafo-ideasUno {
        grid-area: parrafo;
        margin-top: 70px;
        margin-left: 190px;
    }

    /* Estilos de la section 2 */

    .forms-ideas {
        grid-area: forms;
        margin-right: 10px;
        p {
            padding: 8px;
        }
    }
}