/* Aqui se colocaran los estilos de Tus ideas.html para pantallas de celular*/

/* Main */

.main-ideas {
    text-align: center;
    @include margin(100px, 60px);
    h2 {
    font-size: 26px;
    margin-bottom: 30px;
    text-decoration: underline;
    }
    img {
    border: 1.6px solid whitesmoke;
    box-shadow: 1px 0.6px 5px grey;
    margin-bottom: 40px;
    }
}

/* Estilos de las sections */

.parrafo-ideasUno {
    text-align: center;
    margin-top: 0;
    p {
    text-align: center;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 1px 0.6px 6px orangered;
    font-size: 1.2rem;
    font-family: 'Passion One', cursive;
    @include medidas(450px, 130px);
    margin-left: 15px;
    padding: 10px;
    padding-top: 15px;
    }
    img {
    @include medidas(100px, 120px);
    margin-top: 30px;
    animation-name: logos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    }
}

/* Estilos de la section -forms */
.section-ideas {
    text-align: center;
}

.forms-ideas {
    form {
    margin: 10px;
    }
    fieldset {
    border: 1.4px dashed black;
    padding: 10px;
    margin: 1px 10px;
    text-align: left;
    }
}

.p-ideas {
    margin-top: 70px;
    padding: 1px 10px;
}

.end {
    margin-top: 16px;
}

.grid-ideas {
    @extend %estiloBorder;
}

.input-end {
    margin-bottom: 20px;
}

/* Estilos de tus ideas.html para tablets */

@media screen and (min-width: 624px) {
    
    .parrafo-ideasUno {
        p {
            margin-left: 108px;
            padding: 20px;
            @include medidas(430px, 130px);
        }
    }
}

/* Estilos de tus ideas.html para computadoras */

@media screen and (min-width: 800px) {
    
    /* Estilos de grid */

    .grid-ideas {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;

        grid-template-areas: 
        "main parrafo parrafo"
        "main parrafo parrafo"
        "main forms forms";
    }

    /* Estilos del main */

    .main-ideas {
        text-align: center;
        grid-area: main;
        margin-top: 70px;
        img {
        margin-top: 20px;
        @include medidas(250px, 270px);
        display: block;
        margin-left: 140px;
        }
        img:hover {
        border: 1.6px solid rgb(79, 67, 67);
        transition: 0.6s;
        box-shadow: 1px 0.6px 4px rgb(40, 37, 37);
        }
    }

    /* Estilos de la section 1 */

    .parrafo-ideasUno {
        grid-area: parrafo;
        margin-top: 70px;
        border-left: 0.4px solid $color-boxParrafo;
        p {
        margin-left: 140px;
        }
        p:hover {
        transform: scale(1.01);
        transition: 0.4s;
        }
    }

    /* Estilos de la section 2 */

    .section-ideas {
        grid-area: forms;
        border-left: 0.4px solid $color-boxParrafo;
        margin-bottom: 70px;
        form {
        padding: 1px 40px;
        }
    }
    
    .p-ideas {
        padding: 8px 40px;
        margin-top: 20px;
    }
}


