// mixin 

// mixin imagenes presentacion

@mixin img-presentacion {
    margin-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
    border-bottom: 0.4px solid rgb(147, 69, 0);
}

@mixin img-presentacion-h4 {
    text-align: center;
    padding: 12px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    color: $color-titulos;
    text-decoration: underline;
}