// mixin 

// parametros

@mixin medidas($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin bloques {
    display: block;
    align-content: center;
}

@mixin flex {
    display: flex;
    justify-content: center;
}