// mixin 

// parametros

@mixin medidas($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin margin($top, $down) {
    margin-top: $top;
    margin-bottom: $down;
}

@mixin bloques {
    display: block;
    align-content: center;
}

@mixin flex {
    display: flex;
    justify-content: center;
}